{% extends "CupCakesBundle:Client:LayoutC2.html.twig" %}
{% block containt %}

    <body>


    <div class="wrapper">

        <!-- Start Main -->
        <main>
            <div class="main-part">
                <!-- Start Breadcrumb Part -->
                <section class="breadcrumb-part" data-stellar-offset-parent="true" data-stellar-background-ratio="0.5" style="background-image: url('./images/breadbg1.jpg');">
                    <div class="container">
                        <div class="breadcrumb-inner">
                            <h2>Liste des formations </h2>
                            <a href="#">Home</a>
                            <span>Our Service</span>
                        </div>
                    </div>
                </section>
                <!-- End Breadcrumb Part -->
                <section class="dishes invert invert-black wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                  
                    <div class="container">
                       <!-- <div class="build-title">
                            <h2>List formateur</h2>
                            <h6>This is the list</h6>
                        </div>-->
                        <div class="service-track">
                            <div class="row">
                                <div class="breadcrumb-inner">
                                    <h2>Aucune session disponible  </h2>
                                    <a href="#">Acceui</a>
                                    <a href="{{ path('ListFormateur') }}">Liste formation</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </main>

        <!-- End Main -->
    </div>
    </body>

    </html>
{% endblock %}