{% extends "CupCakesBundle:Client:LayoutC2.html.twig" %}
{% block containt %}

    <body>


    <div class="wrapper">

        <!-- Start Main -->
        <main>
            <div class="main-part">
                <!-- Start Breadcrumb Part -->
                <section class="breadcrumb-part" data-stellar-offset-parent="true" data-stellar-background-ratio="0.5" style="background-image: url('./images/breadbg1.jpg');">
                    <div class="container">
                        <div class="breadcrumb-inner">
                            <h2>Liste des formations </h2>
                            <a href="#">Home</a>
                            <span>Our Service</span>
                        </div>
                    </div>
                </section>
                <!-- End Breadcrumb Part -->
                <section class="dishes invert invert-black wow fadeInUp " data-wow-duration="1000ms" data-wow-delay="300ms">

                    <div class="container">
                        <!-- <div class="build-title">
                             <h2>List formateur</h2>
                             <h6>This is the list</h6>
                         </div>-->
                        <div class="service-track">
                            <div class="row">
                                {% for formateur in formateurs %}
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="service-track-inner btn-shadow">
                                            <div class="service-track-info">
                                                <h3>{{ formateur.nomFor }}</h3>
                                                <h3></h3>
                                            </div>

                                            <div class="service-track-overlay banner-bg" data-background="images/hover-img1.png">
                                                <td>
                                                    <img src="{{ asset('public/uploads/brochures/Formateur/' ~  formateur.imageForm) }}" style="height: 150px; width: 200px" >
                                                </td>
                                                <td>
                                                    <h3><a href="{{ path('ListSession',{'id': formateur.id  }) }}" >List session</a></h3>
                                                </td>

                                            </div>

                                        </div>
                                        <a  class="btn btn-black" href="{{ path('map',{'id': formateur.id }) }}" >
                                            localisation
                                        </a>
                                    </div>

                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </section>


            </div>
        </main>
        <!-- End Main -->


    </div>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: {lat: 40.731, lng: -73.997}
            });
            var geocoder = new google.maps.Geocoder;
            var infowindow = new google.maps.InfoWindow;

            document.getElementById('submit').addEventListener('click', function() {
                geocodeLatLng(geocoder, map, infowindow);
            });
        }

        function geocodeLatLng(geocoder, map, infowindow) {
            var input = document.getElementById('latlng').value;
            var latlngStr = input.split(',', 2);
            var latlng = {lat: parseFloat(latlngStr[0]), lng: parseFloat(latlngStr[1])};
            geocoder.geocode({'location': latlng}, function(results, status) {
                if (status === 'OK') {
                    if (results[1]) {
                        map.setZoom(11);
                        var marker = new google.maps.Marker({
                            position: latlng,
                            map: map
                        });
                        infowindow.setContent(results[1].formatted_address);
                        infowindow.open(map, marker);
                    } else {
                        window.alert('No results found');
                    }
                } else {
                    window.alert('Geocoder failed due to: ' + status);
                }
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQlE4gBak1qyqyYoPDb_2Gp-vbRE8pwwg&callback=initMap">
    </script>

    </body>

    </html>
{% endblock %}