{% extends "CupCakesBundle:Client:LayoutC2.html.twig" %}
{% block containt %}
    <div class="content table-responsive table-full-width">
        <table class="table table-striped">
            <thead>
            <th>Nom Categorie Recette</th>
            <th></th>
            <th></th>
            </thead>
            <tbody>
            {% for categorie in categorieRecette %}
                <tr>
                    <td>{{ categorie.nomCatRec }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}