{% extends "CupCakesBundle:Patisserie:layoutP.html.twig" %}
{% block containt %}
    <div class="col-lg-8 col-md-7">
    <div class="card">
    <div class="header">
        <h4 class="title">Modifier etat Commande</h4>
    </div>
    <div class="content">
    <form method="post">
    <div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>Etat Livraison</label>
            {{ form_widget(form.etatLivCmd) }}
        </div>
        <div>
            <input type="submit" class="btn btn-info btn-fill btn-wd" value="Enregistrer" />
        </div>
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>
{% endblock %}